@font-face {
    font-family: Carnas;
    font-style: normal;
    font-weight: 100;
    src: url("Carnas-Medium.otf") format("opentype");
}

body {
    font-family: Carnas, serif;
    font-size: 13px;
}
.dataTables_empty {
    text-transform: uppercase;
}
.table thead th {
    color: #000000;
    font-weight: bold;
    background-color: #d8d8d8;
}

.table-scrollable {
    /* set the height to enable overflow of the table */
    max-height: 300px;
    overflow-x: auto;
    overflow-y: auto;
    scrollbar-width: thin;
}

.table-scrollable thead th {
    position: sticky;
    top: -1px;
}
